{% extends "base.html" %}
{% block title %} Home {% endblock %} <!-- Title goes here -->
{% block head %} {{ super() }} {% endblock %}

{% block content %}
	
	<br>
	<div class="img1" style="width: 100%;">
		<img src="{{ url_for('static', filename='assets/fischer_labs_homepage.png')}}" style="width:100%;">
	</div>
	<div class="img2" style="width: 100%;">
		<img src="{{ url_for('static', filename='assets/most_purchased_chemicals.png')}}" style="width:100%;">
	</div>
	<div class="img3" style="width: 100%;">
		<img src="{{ url_for('static', filename='assets/recently_viewed_pic_3.png')}}" style="width:100%;">
	</div>

{% endblock %}
		


