{% extends "base.html" %}
{% block title %} Order {% endblock %} <!-- Title goes here -->
{% block head %} {{ super() }} {% endblock %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block content %}

<br><link rel="stylesheet" href="{{ url_for('static', filename='css/order.css') }}">

<div class="row" style="width: 100%; margin-left:0px;">
	<div class="column1">
		<h1><img src="{{ url_for('static', filename='assets/order_header_narrow.png') }}" style="width:100%"></h1>
  		<table class="orders">
			<tr class="orders-1">
				<th class="sn">
					<a>S/N</a>
				</th>
				<th class="item">
					<a>Item</a>
				</th>
				<th class="order-qty">
					<a>Qty. (kg)</a>
				</th>
				<th class="unit-price"> 
					<a>Unit Price</a>
				</th>
				<th class="subtotal">
					<a>Subtotal</a>
				</th>
			</tr>
			{%for i in items%}
			<tr class="orders">
				<td class="sn">
					<a>{{i.ind}}.</a>
				</td>
				<td class="item">
					<a href="/compound/{{i.compoundName}}" target="_blank" class="outgoing-link">{{i.compoundName}}<i class="fas fa-external-link-square-alt" height=auto></i></a>
				</td>
				<td class="order-qty">
					<a>{{i.quantity}}</a>
				</td>
				<td class="unit-price">
					<a>$5/kg</a>
				</td>
				<td class="subtotal">
					<a>${{5*i.quantity}}</a>
				</td>
			</tr>
			{%endfor%}
  		</table>
	</div>
	<div class="column2" style="overflow: auto;">
		<div>
			<table class="editorder" style="width: 100%;">
				<tr>
					<th class="editorder-item editorder" style="width:53%">
						<a>Item</a>
					</th>
					<th class="editorder-qty editorder">
						<a>Qty. (kg)</a>
					</th>
				</tr>
				{%for i in items%}
				<tr>
					<td class="editorder-item editorder">
						<div class="editorder-item" id="editorder-item">{{i.compoundName}}</div>
					</td>
					<td class="editorder">
						<div class="input-group plus-minus-input">
	  						<div class="input-group-button">
	  							<button type="button" class="button hollow circle" data-quantity="minus{{i.ind}}" data-field="quantity" id="decrease" clown={{i.ind}}><i class="fa fa-minus" aria-hidden="true"></i>
								</button>
							</div>
							<input class="input-group-field" type="number" name="quantity{{i.ind}}" value="{{i.quantity}}">
							<a class="input-group-button">
								<button type="button" class="button hollow circle" data-quantity="plus{{i.ind}}" data-field="quantity" id="increase"><i class="fa fa-plus" aria-hidden="true"></i>
								</button>
							</a>
						</div>
					</td>
				</tr>
				{%endfor%}
				<script type="text/javascript" src="{{url_for('static',filename='order.js')}}"></script>
			</table>
		</div>
		<div class="totalcost">
			<table style="width: 100%">
				<tr>
					<th>
						<p id="totalcost-1">Total Cost:</p>
					</th>
					<th style="width:auto">
						<p id="totalcost-2">${{cost}}</p>
					</th>
				</tr>
			</table>
		</div>
	</div>
</div>

{% endblock %}
