{% extends "base.html" %}
{% block title %} {{compoundInfo.compoundName}} {% endblock %} <!-- Title goes here -->
{% block head %} {{ super() }} {% endblock %}

{% block content %}
	<br>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/compoundview.css') }}">	
	<div style="overflow: auto; padding-top: 10px">
			<a class="header"> {{compoundInfo.compoundName}} </a>
			{%if compoundInfo.imgURL != None %}
			<a class="header" class="nfpa-rating"> <img src={{compoundInfo.imgURL}} class="clearfix" width=auto height=auto> </a>
			{%endif%}
			<a>
				<a class="synonyms"> {{', '.join(compoundInfo.synonyms[:3])}}</a>
				<button id="more-synonyms">more...</button>
			</a>
			<a class="current-inventory"> Current Inventory: {{compoundInfo.quantity}}kg </a>
		</div>
		<div id="myModal" class="modal">
		  <!-- Modal content -->
		  <div class="modal-content">
		    <p>
		    	<a class="header2"> Known synonyms: </a>
		    	<span class="close">&times;</span>
		    </p>
		    <p> {{', '.join(compoundInfo.synonyms[3:])}}</p>
		  </div>
		</div>
		<script>
			// Get the modal
			var modal = document.getElementById("myModal");

			// Get the button that opens the modal
			var btn = document.getElementById("more-synonyms");

			// Get the <span> element that closes the modal
			var span = document.getElementsByClassName("close")[0];

			// When the user clicks the button, open the modal 
			btn.onclick = function() {
			  modal.style.display = "block";
			}

			// When the user clicks on <span> (x), close the modal
			span.onclick = function() {
			  modal.style.display = "none";
			}

			// When the user clicks anywhere outside of the modal, close it
			window.onclick = function(event) {
			  if (event.target == modal) {
			    modal.style.display = "none";
			  }
			}
		</script>
		<div class="business">
			<table class="business">
				<tr class="business">
					<th class="business"> Outstanding Orders </th>
					<th class="business"> Past Orders </th>
				</tr>
				<tr class="business">
					<td class="orders">
						<table class="outstanding-orders">
							<tr class="outstanding-orders">
								<th class="outstanding-orders"> Buyer </th>
								<th class="outstanding-orders" > Qty. </th>
							</tr>
							<tr class="outstanding-orders">
								<td class="outstanding-orders"> ABCD Chemical Company GmbH. </td>
								<td class="outstanding-orders" id="qty2"> 100kg </td>
							</tr>
						</table>
					</td>
					<td class="orders">
						<table class="past-sales">	
							<tr class="past-sales">
								<th class="past-sales"> Buyer </th>
								<th class="past-sales"> Qty. </th>
							</tr>
							<tr class="past-sales">
								<td class="past-sales"> ABCD Chemical Company GmbH. </td>
								<td class="past-sales" id="qty1"> 100kg </td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
		<div class="compound">
			<table class="compound">
				<tr>
					<th class="properties-h"> Compound Properties </th>
					<th class="hazard"> Hazard Data </th>
				</tr>
				<tr>
					<td class="properties-d">
						<table class="properties" id="properties">
							<tr class="properties">
								<th class="properties" id="property"> Property </th>
								<th class="properties"> Value </th>
							</tr>
							{% for i in compoundInfo.physicalProperties%}
							<tr class="properties">
								<td class="properties"> {{i}} </td>
								<td class="properties"> {{compoundInfo.physicalProperties[i]}} </td>
							</tr>
							{%endfor%}
						</table>
					</td>
					<td class="hazard">
						<a href="https://pubchem.ncbi.nlm.nih.gov/source/hsdb/{{compoundInfo.HSDBindex}}" title="Hazardous Substances Database" target="_blank" class="outgoing-link"> View {{compoundInfo.compoundName}}'s associated registry in the Hazardous Substances Database. <i class="fas fa-external-link-square-alt" height=auto></i></a>
					</td>
				</tr>
			</table>
		</div>
		<div class=uses>
			<table class="uses">
				<tr>
					<th class="industrial"> Industrial Uses </th>
					<th class="consumer"> Consumer Uses </th>
				</tr>
				<tr>
					<td class="industrial-l">
						<ul class="industrial-l">
							{%for i in compoundInfo.industry%}
							<li> {{i}} </li>
							{%endfor%}
						</ul>
					</td>
					<td class="consumer-l">
						<ul class="consumer-l">
							{%for i in compoundInfo.consumer%}
							<li> {{i}} </li>
							{%endfor%}
						</ul>
					</td>
				</tr>
			</table>
		</div>
	
{% endblock %}
		



